
{% extends 'catalog/base.html' %}

{% block content %}


{% for object in object_list %}

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Лог рассылки {{ object.mailing }}
  </div>
  <div class="btn-group">
      <a href="{% url 'mailing:Log_Mailingview' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">просмотр</a>
      <a href="{% url 'mailing:Log_Mailingdelete' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">удалить</a>
  </div>
</div>


{% endfor %}
{% endblock %}
