
{% extends 'catalog/base.html' %}

{% block content %}


{% for object in object_list %}

<div class="card" style="width: 18rem;">
  <div class="card-header">
    рассылка {{ object.mailing }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> дата и время последней попытки : {{ object.datatime_last_attempt }} </li>
    <li class="list-group-item"> статус попытки : {{ object.status_attempt }} </li>
    <li class="list-group-item"> ответ почтового сервера: {{ object.answer_mail_server }} </li>
  </ul>
</div>


{% endfor %}
{% endblock %}
