{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<div class="card" style="width: 18rem;">
  <div class="card-header">
    рассылка
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> время и дата рассылки : {{object.time_mailing}} </li>
    <li class="list-group-item"> периодичность:  {{object.frequency}} </li>
    <li class="list-group-item"> статус рассылки: {{object.status_mailing}} </li>
    <li class="list-group-item"> сообщение: {{object.massage}} </li>
  </ul>
</div>
{% endblock %}